[submodule "projects/ithor_rearrangement"]
	path = projects/ithor_rearrangement
	url = https://github.com/allenai/ai2thor-rearrangement.git
	branch = active_neural_slam
[submodule "submodules/detr"]
	path = submodules/detr
	url = https://github.com/xiaobaishu0097/detr-heming.git